
  .Fll_Table_Root{
    padding:20px;
    box-shadow:none !important;
  }

  .Fll_Table_expandStyles{
     background-color: white;
     box-sizing: border-box;
     overflow:visible;
     width: 83%;
     padding-left:15px;
   }

 .Fll_Table_tableWrapper{
    overflow:scroll;
    height: 100%;
    background-color:white;
  }

  .Fll_Table_tableHeaderWithNoBorder{
    background-color:white;
    border-left:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_SimpleTableHeader{
    color: #58595b;
    font-size: 14px;
    line-height: 1;
    border: none;
    font-style:italic;
    font-weight:800;
    text-align:center;
    background-image:none;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_SimpleTableRow{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#58595b;
    background-color:white;
    border-left:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_CenterAlignedRow{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#58595b;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_CenterAlignedRowInnerTable{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#58595b;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_AdvanceTableRow{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#58595b;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_extraRowFeatures{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#58595b;
    text-align:center;
    background-color:rgba(151,151,151,0.65);
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_extraRowFeaturesLeft{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#58595b;
    text-align:left;
    background-color:rgba(151,151,151,0.65) ;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_tableWrapper .fixedDataTableLayout_main{
    border-right:1px solid rgba(151,151,151,0.25);
    border-bottom:1px solid rgba(151,151,151,0.25);
  }
