
  .Fll_Table_Root{
    padding:10px;
    box-shadow:none !important;
    font-size: 13px;
  }

  .Fll_Table_expandStyles{
     background-color: white;
     box-sizing: border-box;
     overflow:visible;
     width: 83%;
     padding-left:15px;
   }

 .Fll_Table_tableWrapper{
   overflow:hidden !important;
    background-color:white;
  }

  .Fll_Table_tableHeaderWithNoBorder{
    background-color:white;
    border-left:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_SimpleTableHeader{
    font-size: 14px;
    color: #58595b;
    line-height: 1;
    border: none;
    font-style:italic;
    font-weight:800;
    text-align:center;
    background-image:none;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_SimpleTableRow{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#58595b;
    background-color:white;
    border-left:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_CenterAlignedRow{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#58595b;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_CenterAlignedRowInnerTable{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#58595b;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_AdvanceTableRow{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#58595b;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_extraRowFeatures{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#58595b;
    text-align:center;
    background-color:rgba(151,151,151,0.65);
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_extraRowFeaturesLeft{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#58595b;
    text-align:left;
    background-color:rgba(151,151,151,0.65) ;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Table_tableWrapper .fixedDataTableLayout_main{
    /* border-right:1px solid rgba(151,151,151,0.25); */
    border-bottom:1px solid rgba(151,151,151,0.25);
  }

  .Fll_Previous_Week_comment{
    margin-top: 2px;
    text-align:right;
    font-size:12px;
    font-style:italic;
  }

  .Fll_Table_SimpleTableHeader .public_fixedDataTableCell_wrap3{
    border-bottom:1px solid rgba(151,151,151,0.25);
  }


  @media screen and (max-width: 600px) {

    .Fll_Table_Root{
      font-size: 10px !important
    }

    .Fll_Previous_Week_comment{
      text-align:right;
      font-size:9px;
      font-style:italic;
    }

  }
