 .Sll_Table_expandStyles{
    background-color: white;
    box-sizing: border-box;
    overflow:hidden;
    width: 100%;
    font-size: 12px;
   }

 .Sll_Table_tableWrapper{
    overflow:scroll;
    height: 100%;
    background-color: white;
    border-top:1px solid rgba(151,151,151,0.25);
    border-bottom:1px solid rgba(151,151,151,0.25);
    font-size: 12px;
  },

  .Sll_Table_tableHeaderWithNoBorder{
    border-left:1px solid rgba(151,151,151,0.25) !important;
  }

  .SLL_Previous_Comment{
    margin-top: 2px;
    font-size: 11px;
    font-style:italic;
  }

  .Sll_Table_SimpleTableHeader{
    color: #58595b;
    font-size: 14px;
    line-height: 1;
    border: none;
    font-style:italic;
    font-weight:800;
    text-align:center;
    background-image:none;
    border-left:1px solid rgba(151,151,151,0.25);
    border-bottom:1px solid rgba(151,151,151,0.25);
  }

  .Sll_Table_TableHeaderWithNoLeft{
    color: #58595b;
    font-size: 14px;
    line-height: 1;
    border: none;
    font-style:italic;
    font-weight:800;
    text-align:center;
    background-image:none;
    border-bottom:1px solid rgba(151,151,151,0.25);
  }



  .Sll_Table_SimpleTableRow{
    font-weight: 500;
    text-align: center;
    color:#58595b;
    border-left:1px solid rgba(151,151,151,0.25);
  }

  .Sll_Table_CenterAlignedRow{
    font-weight: 500;
    text-align: center;
    color:#58595b;
    border:1px solid rgba(151,151,151,0.25);
  }

  /* .Sll_Table_CenterAlignedRowInnerTable{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#58595b;
    background-color:white;
    border:1px solid rgba(151,151,151,0.25);
  } */

  .Sll_Table_AdvanceTableRow{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color:#58595b;
    border:1px solid rgba(151,151,151,0.25);
  }

  .Sll_Table_extraRowFeatures{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#58595b;
    text-align:center;
    background-color:rgba(151,151,151,0.2);
    border:1px solid rgba(151,151,151,0.25);
  }

  .Sll_Table_extraRowFeaturesLeft{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#58595b;
    text-align:left;
    background-color:rgba(151,151,151,0.2);
    border:1px solid rgba(151,151,151,0.25);
  }

  .Sll_Table_root{
    padding:20px;
    box-shadow:none !important;
  }

  .fixedDataTableCellLayout_main{
    margin-left:1px;
  }



  /* #################################################### */

  .Sll_CenterAlignedRowFirstName{
    font-weight: 500;
    color:#58595b;
    /* border:1px solid rgba(151,151,151,0.25); */
    border:1px solid rgba(151,151,151,0.25);
    border-right: none;
    text-align: center;
  }

  .Sll_SelectedCenterAlignedRowFirstName{
    font-weight: 500;
    color:#58595b;
    background-color:rgba(151,151,151,0.2) ;
    /* border:1px solid rgba(151,151,151,0.25); */
    border:1px solid rgba(151,151,151,0.25);
    border-right: none;
    text-align: center;
  }

  .Sll_SimpleCenterAlignedRow{
    font-weight: 500;
    color:#58595b;
    /* border:1px solid rgba(151,151,151,0.25); */
    text-decoration-color: rgb(151,151,151);
    text-align: center;
    border:1px solid rgba(151,151,151,0.25);
    border-right: none;

  }

  .Sll_SelectedSimpleCenterAlignedRow{
    font-weight: 500;
    color:#58595b;
    background-color:rgba(151,151,151,0.2) ;
    /* border:1px solid rgba(151,151,151,0.25); */
    text-decoration-color: rgb(151,151,151);
    text-align: center;

    border:1px solid rgba(151,151,151,0.25);
    border-right: none;

  }

  .Sll_SimpleLeftAlignedRow{
    font-weight: 500;
    text-align: left;
    color:#58595b;
    /* border:1px solid rgba(151,151,151,0.25); */

    border:1px solid rgba(151,151,151,0.25);
    border-right: none;

  }

  .Sll_SelectedSimpleLeftAlignedRow{
    font-weight: 500;
    text-align: left;
    color:#58595b;
    background-color:rgba(151,151,151,0.2) ;
    /* border:1px solid rgba(151,151,151,0.25); */

    border:1px solid rgba(151,151,151,0.25);
    border-right: none;

  }


  @media screen and (max-width: 600px) {

    .Sll_Table_tableWrapper{
      font-size: 10px;
    }

    .SLL_Previous_Comment{
      font-size: 9px;
    }

  }
